.div {
  width: 358px;
  height: 100%;
  background-color: #000000be;
  z-index: 1;
  display: none;
  padding-top: 60px;
}
.div-profile-avatar {
  padding: 0 0 12%;
}
.div__container-image {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: auto;
}
.div__image {
  max-width: 75vw;
  max-height: 75vh;
}
.div__title-image {
  position: relative;
  margin: 0;
  padding-top: 10px;
  width: 80%;
  font-size: 12px;
}

.div__container {
  width: 282px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: auto;
}
.div__opened {
  display: flex;
  transition: 0.3s;
}
.div__close-button {
  background: url(../images/div__close-icon.svg) no-repeat center;
  background-size: cover;
  border: none;
  position: relative;
  top: -34px;
  left: 250px;
  width: 26px;
  height: 26px;
}
.div__close-image {
  top: -4px;
  left: 100%;
  width: 30px;
  height: 30px;
}

.div__close-button:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}

.div__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  padding: 0 0 20px 0;
  text-align: center;
}
.div__heading-delete {
  padding: 0 0 2% 0;
}
.div__form-set {
  border: none;
  margin: 0;
  padding: 0;
}
.div__form-input {
  border: none;
  margin: 0;
  font-size: 14px;
  padding: 0 0 13px 0;
  outline: none;
  background-color: #000;
  color: #CCC;
}
.div__form-job {
  margin-top: 12%;
}
.div__form-link {
  margin-top: 12%;
}
.div__form-input:focus {
  border: 1px solid #529cfc;
  width: 98%;
}
.div__line {
  height: 1px;
  background-color: #c4c4c4;
  width: 100%;
  margin: 0;
}
.div__form-input_error {
  background-color: #ff0000;
}
.div__input-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  position: relative;
  top: calc(100% + 6px);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 3px 3% 0;
  width: 90%;
}

.div__input-error_active {
  opacity: 1;
}

.div__form-button_active {
  margin: 6% 0 7% 0;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3%;
  width: 95%;
  height: 46px;
}
.div__form-button_active:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}
.div__form-button_disabled {
  margin: 6% 0 7% 0;
  background-color: #f5f5f5;
  color: #000;
  opacity: 20%;
  border: solid #000;
  cursor: default;
  border-radius: 3%;
  width: 95%;
  height: 46px;
}
.div__formset-button {
  padding-right: 0;
}
::placeholder {
  color: #c4c4c4;
  font-size: 14px;
}
.div__message {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #CCC;
  padding: 15px 0 30px 0;
  margin: 0;
  text-decoration: none;
}
.div__message:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .div__container {
    width: 430px;
  }
  .div__heading {
    padding: 0 0 54px 0;
    margin: 0 0;
    font-size: 24px;
  }
  .div__heading-delete {
    padding: 0 0 5px 0;
  }
  .div__line {
    margin: 0;
  }
  .div__form-input {
    margin: 0;
    padding: 30px 0 13px 0;
    width: 300px;
  }
  .div__form-job {
    margin-top: 7%;
  }
  .div__form-link {
    margin-top: 7%;
  }
  .div__input-error {
    margin: 8px 6% 0;
  }
  .div__form-button {
    width: 358px;
    height: 50px;
    background-color: #FFF;
    color: #000;
    margin: 230px 0 0 0;
  }
  .div__form-button_disabled {
    margin: 230px 0 0 0;
    width: 358px;
    height: 50px;
  }
  .div__close-button {
    top: -48px;
    left: 434px;
    width: 40px;
    height: 40px;
  }
  .div__close-image {
    top: -4px;
    left: 100%;
    width: 30px;
    height: 30px;
  }
  .div__title-image {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .div__title-image {
    font-size: 18px;
  }
}